figure img {
    max-width: 100%;
    display: none;
}

figure img:target {
    display: inline;
}

svg rect {
    fill: #cccccc;
}

#slide-1:target ~ svg rect[id="btn-1"],
#slide-2:target ~ svg rect[id="btn-2"],
#slide-3:target ~ svg rect[id="btn-3"] {
    fill: #00ff00;
}